<nav class="row justify-content-center text-center mt-4 mb-4">
    <div class="col-12">
        <img
            src="{{url_for('static', filename='img/logoo.webp')}}"
            alt="Logo do flask"
        />
    </div>

    <div class="col-12 mt-3 text-start">
        <a href="{{url_for('homepage')}}" class="btn btn-success col-2">Home</a>
        <a href="{{url_for('adicionarFilme')}}" class="btn btn-primary col-2">Novo filme</a>
        <a href="{{url_for('listarFilmes')}}" class="btn btn-info col-2">Listar filme</a>
        <a href="{{url_for('newUser')}}" class="btn btn-warning col-2">Cadastrar</a>
    </div>
</nav>
